@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  max-height: 400px;
}

.custom-label:focus {
  color: #ff9e66; /* Màu khi được focus */
}
.custom-hover {
  color: #ff4c15 !important;
  background: transparent !important;
  box-shadow: none !important;
  font-size: 14px;
}
#custom-button {
  background: linear-gradient(90deg, #ff8864, #ff2121) !important;
}
.background-custom {
  background-color: transparent !important;
  color: red !important;
  box-shadow: none !important;
}
.custom-switch {
  background-color: transparent !important;
  color: red !important;
  box-shadow: none !important;
}
@media (max-width: 768px) {
  .responsive-icon {
    width: 35px !important;
    height: 35px !important;
    padding: 5px !important;
  }
}
/*Admin */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#width_agent {
  width: 100% !important;
  height: 100% !important;
}
