@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  overflow: hidden; 
  max-height: 400px; 
}

.custom-label:focus  {
  color: #ff9e66; /* Màu khi được focus */
}
.custom-hover {
  color : #ff4c15 !important;
  background: transparent !important;
  box-shadow: none !important;
  font-size: 14px;
}
#custom-button {
  background: linear-gradient(90deg,#ff8864,#ff2121) !important;
  
}
.background-custom {
  background-color: transparent !important;
  color : red !important;
  box-shadow: none !important;

}
.custom-switch {
  background-color: transparent !important;
  color : red !important;
  box-shadow: none !important;
}
@media (max-width: 768px) {
  .responsive-icon {
    width: 35px !important;
    height: 35px !important;
    padding: 5px !important;
  }
}
